@import "variables";

.task__wrapper {
  padding: 30px 15px;
  margin-bottom: 100px;
}

.task__card {
  margin-bottom: 10px;
}

.task__cars_empty {
  text-align: center;
}

.task__add-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  background: $primary;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

  a {
    color: #fff;
  }

  &:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  }
  &:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }
}
