@import "variables";

.form__title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 25px;

  input {
    padding: 10px 30px 10px 10px;
    border-style: none;
    outline: none;
    border-bottom: 1px solid #000;
  }

  .form__title-warning {
    position: absolute;
    left: 0;
    bottom: 0;
    color: red;
  }
}

.title-warning-enter-active,
.title-warning-leave-active {
  transition: opacity 0.5s;
}

.title-warning-enter,
.title-warning-leave-to {
  opacity: 0;
}

.form__textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  textarea {
    padding: 10px 30px 10px 10px;
    outline: none;
    resize: none;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
  }
}

.form__status {
  margin-bottom: 30px;

  .form__radio {
    margin-bottom: 10px;

    input {
      display: none;
    }

    & label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 0;
      line-height: 18px;
      user-select: none;
    }

    & label:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 18px;
      position: absolute;
      left: 0;
      bottom: 1px;
      border: 1px solid $primary;
      border-radius: 50%;
    }

    & input[type="radio"]:checked + label:before {
      background: $primary;
    }

    & label:hover:before {
      border: 2px solid $primary;
    }
  }
}

.form__submit-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  outline: none;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background: $primary;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

  a {
    color: #fff;
  }

  &:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  }
  &:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }
}
